@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
:root {
  font-size: 15px;
}

* {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  background: url(../img/bg-bottom.svg) no-repeat left bottom, url(../img/bg-top.svg) no-repeat top right;
  background-color: hsl(240deg, 78%, 98%);
  padding: 30px;
  max-height: 945px;
}
@media screen and (max-width: 1200px) {
  body {
    height: 100%;
  }
}
body .section_select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: hsl(233deg, 13%, 49%);
}
@media screen and (max-width: 1200px) {
  body .section_select {
    margin-bottom: 30px;
  }
}
body .section_select > h1 {
  margin-bottom: 40px;
}
body .section_select_pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 250px;
}
body .section_select_pricing input[type=checkbox] {
  display: none;
}
body .section_select_pricing_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 35px;
  padding: 3px;
  background: rgb(163, 168, 240) -webkit-gradient(linear, left top, right top, from(rgb(163, 168, 240)), to(rgb(105, 111, 221)));
  background: rgb(163, 168, 240) linear-gradient(90deg, rgb(163, 168, 240) 0%, rgb(105, 111, 221) 100%);
  border-radius: 20px;
  cursor: pointer;
}
body .section_select_pricing_btn:hover {
  opacity: 0.7;
}
body .section_select_pricing_btn_click {
  width: 30px;
  height: 100%;
  border-radius: 20px;
  background-color: hsl(240deg, 78%, 98%);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}
body .section_select_pricing_btn_click_toggle {
  -webkit-transform: translateX(-24px);
          transform: translateX(-24px);
}
body .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 79%;
  max-width: 1440px;
  margin: auto;
}
@media screen and (max-width: 1200px) {
  body .section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}
body .section .section_card {
  width: 27%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  height: 79%;
  padding: 30px;
  border-radius: 10px;
}
@media screen and (max-width: 1200px) {
  body .section .section_card {
    width: 350px;
    margin-bottom: 25px;
  }
}
body .section .section_card h5 {
  font-size: 1.2rem;
  margin-bottom: 25px;
}
body .section .section_card .price {
  margin-bottom: 25px;
  font-size: 4rem;
  color: hsl(232deg, 13%, 33%);
}
body .section .section_card p {
  color: hsl(233deg, 13%, 49%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border-top: 1px solid hsl(234deg, 14%, 74%);
  padding: 17px 0px;
}
body .section .section_card p:nth-child(6) {
  border-bottom: 1px solid hsl(234deg, 14%, 74%);
}
body .section .section_card .btn_infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  background: rgb(163, 168, 240) -webkit-gradient(linear, left top, right top, from(rgb(163, 168, 240)), to(rgb(105, 111, 221)));
  background: rgb(163, 168, 240) linear-gradient(90deg, rgb(163, 168, 240) 0%, rgb(105, 111, 221) 100%);
  width: 100%;
  cursor: pointer;
  height: 45px;
  border-radius: 5px;
  color: hsl(240deg, 78%, 98%);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9rem;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}
body .section .section_card .btn_infos:hover {
  background: rgb(163, 168, 240) -webkit-gradient(linear, left top, right top, from(rgb(163, 168, 240)), to(rgb(105, 111, 221)));
  background: rgb(163, 168, 240) linear-gradient(90deg, rgb(163, 168, 240) 0%, rgb(105, 111, 221) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  border: 1px solid hsl(234deg, 14%, 74%);
  color: transparent;
}
body .section .section_professional {
  width: 27%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgb(163, 168, 240) -webkit-gradient(linear, left top, right top, from(rgb(163, 168, 240)), to(rgb(105, 111, 221)));
  background: rgb(163, 168, 240) linear-gradient(90deg, rgb(163, 168, 240) 0%, rgb(105, 111, 221) 100%);
  height: 88%;
  padding: 30px;
  border-radius: 10px;
  color: white;
}
@media screen and (max-width: 1200px) {
  body .section .section_professional {
    width: 350px;
    margin-bottom: 25px;
  }
}
body .section .section_professional h5 {
  font-size: 1.2rem;
  margin-bottom: 25px;
}
body .section .section_professional .price {
  margin-bottom: 25px;
  font-size: 4rem;
}
body .section .section_professional p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border-top: 1px solid white;
  padding: 17px 0px;
}
body .section .section_professional p:nth-child(6) {
  border-bottom: 1px solid white;
}
body .section .section_professional .btn_infos_pro {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: white;
}
body .section .section_professional .btn_infos_pro::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: "LEARN MORE";
  position: absolute;
  background-color: white;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  background: rgb(163, 168, 240) -webkit-gradient(linear, left top, right top, from(rgb(163, 168, 240)), to(rgb(105, 111, 221)));
  background: rgb(163, 168, 240) linear-gradient(90deg, rgb(163, 168, 240) 0%, rgb(105, 111, 221) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
body .section .section_professional .btn_infos_pro:hover {
  color: white;
  border: 1px solid white;
  background-color: transparent;
  z-index: 1;
}
body .section .section_professional .btn_infos_pro:hover::after {
  content: "LEARN MORE";
  color: white;
}